body{
background: rgb(15, 95, 216);
font: normal 15pt Arial;

}header{
    color: white;
    text-align: center;
}
section{
background: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: rgba(0, 0, 0, 0.726) 5px 5px 10px;

}footer{
    color: white;
    font-style: italic;
    text-align: center;

}div{
    font: normal 13pt Arial;
}